Source: localtube
Maintainer: Clement Roblot <clement.roblot@martobre.fr>
Section: misc
Priority: optional
Standards-Version: 3.9.8
Build-Depends: debhelper (>= 9)

Package: localtube
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Download automatically a feed of youtube videos
 .
 This software will simply fetch the youtube channels you have subscribed 
 to and automatically download to your computer the new videos released 
 by thoses channels.