Source: rss-youtube-dl
Maintainer: karlito <karlito@martobre.fr>
Section: misc
Priority: optional
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 9)

Package: rss-youtube-dl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Download automaticaly an rss feed of youtube videos
 .
 This software will simply fetch the youtube channels you have subscribed 
 to and automaticaly download to your computer the new videos released 
 by thoses channels.